<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- 
    このlaunchファイルは、Gazeboシミュレーション環境を起動し、ロボットモデルを読み込んでシミュレーション内にスポーンします。
    また、ロボットの初期位置や姿勢を設定し、必要な他の設定を含めた起動手順を定義しています。
  -->

<!-- Robot pose -->
<!-- ロボットの初期位置（x, y, z）および姿勢（roll, pitch, yaw）を指定 -->
<arg name="x" default="0"/>   <!-- 初期位置のx座標（デフォルト値は0） -->
<arg name="y" default="0"/>   <!-- 初期位置のy座標（デフォルト値は0） -->
<arg name="z" default="0"/>   <!-- 初期位置のz座標（デフォルト値は0） -->
<arg name="roll" default="0"/> <!-- 初期姿勢のroll角（デフォルト値は0） -->
<arg name="pitch" default="0"/> <!-- 初期姿勢のpitch角（デフォルト値は0） -->
<arg name="yaw" default="0"/>   <!-- 初期姿勢のyaw角（デフォルト値は0） -->

<!-- Launch other relevant files-->
<!-- 他の関連ファイル（ロボットの設定ファイル等）を起動 -->
<include file="$(find my_robot)/launch/robot_description.launch"/>
  <!-- World File -->
  <!-- シミュレーションで使用するGazeboのワールドファイルを指定 -->
  <arg name="world_file" default="$(find my_robot)/worlds/empty.world"/>

  <!-- Launch Gazebo World -->
  <!-- Gazeboの空のワールドを起動し、必要な引数を設定 -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>  <!-- シミュレーション時間を使用 -->
    <arg name="debug" value="false"/>  <!-- デバッグモードを無効に設定 -->
    <arg name="gui" value="true" />  <!-- GazeboのGUIを表示 -->
    <arg name="world_name" value="$(arg world_file)"/>  <!-- 使用するワールドファイルを指定 -->
  </include>

<!-- Find my robot Description-->
<!-- ロボットのURDFモデル（Unified Robot Description Format）をXacroで読み込み、パラメータサーバに設定 -->
<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find my_robot)/urdf/my_robot.xacro'"/>

<!-- Spawn My Robot -->
<!-- Gazeboシミュレーションにロボットモデルをスポーンさせるノードを起動 -->
<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
      args="-urdf -param robot_description -model my_robot
            -x $(arg x) -y $(arg y) -z $(arg z)
            -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>

</launch>